.header-container {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-adress {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-logo {
  margin-right: 93px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-web {
  color: var(--accent-color);
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-list {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
}

.header-link {
  transition: color 250ms var(--cubic-bezier);

  position: relative;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-link.current {
  color: var(--accent-color);

  &::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.header-contacts:not(:last-child) {
  margin-right: 50px;
}

.header-mail {
  transition: color 250ms var(--cubic-bezier);

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);

  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-mail-icons {
  transition: fill 250ms var(--cubic-bezier);
  fill: var(--main-text-color);
  margin-right: 10px;

  .header-mail:hover &,
  .header-mail:focus & {
    fill: var(--accent-color);
  }
}

.header-tel {
  transition: color 250ms var(--cubic-bezier);

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);

  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-tel-icons {
  transition: color 250ms var(--cubic-bezier);
  fill: var(--main-text-color);
  margin-right: 10px;

  .header-tel:hover &,
  .header-tel:focus & {
    fill: var(--accent-color);
  }
}
